.team-wrapper{
    border: rgba(255, 255, 255, .0) !important;
}

.newsListArea{
    padding-left: 3em !important;
}

.newsListArea > ul{
    border: none;
}

a.newsListItem{
    display: block !important;
    width: 10em;
    border: rgba(255, 255, 255, .0) solid 2px !important;
    margin-bottom: 0.5em;
    padding: 0.5em 1em 0.5em 1em !important;
    background: #1c1c1c;
    font-family: 'Microsoft Jhenghei', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    color: white !important;
    text-decoration: none;
}

.newsListArea:last-child{
    margin-bottom: 0;
}

a.newsListItem:hover{
    /*border: rgba(255, 255, 255, 1.0) solid 2px !important;*/
    background: rgba(255, 255, 255, 0.0) !important;
    color: #d71921 !important;
}

.nav-tabs>li.active>a{
    background: #1c1c1c;
    border: #d71921 solid 2px !important;
    pointer-events: none;
}

.articleArea{
    padding: 2em 5% 3em 5%;
    background: #1c1c1c;
}

.articleArea h3{
    letter-spacing: 0.2em;
}

.articleArea h4{
    margin: 1em 0 1em 0;
    letter-spacing: 0.2em;
    color: white !important;
    font-family:  "microsoft jhenghei", sans-serif;
}

