@media all and (min-width: 768px) {
    html{
        overflow-x: hidden;
    }
    
    p{
        font-size: 1.2em;
        letter-spacing: 1px;
        line-height: 2em;
    }
    
    a{
        transition: all 0.4s ease-in;
    }
    
    .navbar-brand img#logo{
        height: 90%;
        width: auto;
        margin-bottom: 0;
        padding-left: 0.5em;
        padding-bottom: 0;
        position: absolute;
    }

    .navbar-default .navbar-nav li a{
        font-size: 1.1em;
        letter-spacing: 0.1em;
        padding-right: 2em;
    }
    
    #about{
      margin: 0;
    }

    #about h2{
        margin-top: 2em;
        margin-bottom: 1em;
    }
    
    #newsImgArea img{
        margin-bottom: 5em;
    }
    
    #newsButton{
        margin-top: 15% !important;
    }
    
    .about-des{
        padding-left: 5em !important;
        text-align: justify;
    }
    
    #newsButtonArea{
        text-align: right;
        padding-right: 2em !important;
    }
    
    #footerInfo{
        padding-left: 5em;
    }

    #footerInfo img{
        width: 50%;
        height: auto;
    }
    
    p.menu{
        letter-spacing: 0.1em;
    }
}/*End @media all and (min-width: 768px)*/


p, .navbar-default .navbar-nav li a{
    font-family: "Microsoft Jhenghei", sans-serif;

}

.fa{
    color: white;
}

#about h2{
    text-align: center;
}