@media all and (min-width: 768px) {
    
    table{
        width: 100%;
        color: white;
        letter-spacing: 0.1em;
    }
    
    th{
        padding: 0.5em 1em 0.5em 1em;
        text-transform: uppercase;
        text-align: center;
    }
    
    td{
        padding: 0;
        text-align: center;
    }

    /*Each column*/
    .check, .checkCol{
        width: 5em;
    }
    
    .timeCol, .sizeCol{
        border-left: rgba(255, 255, 255, .5) solid 1px;
        border-right: rgba(255, 255, 255, .5) solid 1px;
    }
    
    .timeCol{
        width: 18em;
        padding: 0;
    }
    
    .sizeCol{
        width: 10em;
    }

    .uploaderCol{
        width: 12em;
    }
    /*End each column*/
    .headRow{
        background: rgba(255, 0, 0, 0.3);
    }
    
    .trtd1{
        background: ;
    }
    
    .trtd2{
        background: rgba(255, 0, 0, 0.1);
    }
    
    th input.btn{
        padding: 0.3em;
        height: 30px !important;
    }
    
    th input.btn:hover{
        background: rgba(0, 0, 0, .5);
    }
}